@font-face {
    font-family:"MonumentExtendedUltralight";
    src: url("fonts/MonumentExtended-Ultralight.woff2") format("woff2"),
        url("fonts/MonumentExtended-Ultralight.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:"MonumentExtended-Bold";
    src: url("fonts/MonumentExtended-Bold.woff2") format("woff2"),
        url("fonts/MonumentExtended-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}
 
  
@font-face {
    font-family:"Oroban-Elegans";
    src: url("fonts/Oroban-Elegans.woff2") format("woff2"),
        url("fonts/Oroban-Elegans.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}
 
  
@font-face {
    font-family:"Oroban-ElegansItalic";
    src: url("fonts/Oroban-ElegansItalic.woff2") format("woff2"),
        url("fonts/Oroban-ElegansItalic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}